gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# 키 저장소를 공개적으로 공유해서는 안 된다는 사실을 잊지 마세요.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
